Source: rospack
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), python-dev,libboost-all-dev,libgtest-dev,ros-groovy-catkin
Homepage: http://www.ros.org/wiki/rospack
Standards-Version: 3.9.2

Package: rospack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-dev,python-rosdep,libgtest-dev,libboost-all-dev
Description: ROS Package Tool
