Source: ros-groovy-rospack
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev, libgtest-dev, libtinyxml-dev, pkg-config, python-dev, ros-groovy-catkin (>= 0.5.68)
Homepage: http://wiki.ros.org/rospack
Standards-Version: 3.9.2

Package: ros-groovy-rospack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev, libgtest-dev, libtinyxml-dev, pkg-config, python-catkin-pkg, python-dev, python-rosdep
Description: ROS Package Tool
